name: release

on:
  push:
    branches: [prod-staging, prod-stable, prod-preview]
  workflow_dispatch:
    inputs:
      publish_distro:
        description: 'Distro to publish (bullseye, bookworm, trixie)'
        type: choice
        default: 'all'
        options:
          - all
          - bullseye
          - bookworm
          - trixie

permissions:
  contents: write
  packages: write

jobs:
  release:
    strategy:
      fail-fast: false
      matrix:
        distro: ${{ fromJSON(github.event_name == 'push' &&
         '["bullseye","bookworm","trixie"]' ||
         (github.event.inputs.publish_distro == 'all' &&
         '["bullseye","bookworm","trixie"]' || format('["{0}"]', github.event.inputs.publish_distro))) }}
    outputs:
      pkg_version: ${{ steps.package.outputs.pkg_version }} # Expose step output as job output
    runs-on: ubuntu-latest
    container: debian:${{ matrix.distro }}
    env:
      GO_VERSION: stable
      PYTHONDONTWRITEBYTECODE: 1
      UKP_PACKAGE: /platform-tailscaled-install
    steps:
    - name: Install checkout dependencies
      run: |
        set -xe;
        apt-get update;
        apt-get install --no-install-recommends -y ca-certificates
        apt-get install --no-install-recommends -y git

    - uses: actions/checkout@v4
      with:
        fetch-depth: 0
        submodules: false

    - name: Install build & release dependencies
      uses: ./.github/actions/install_dependencies

    - name: Set up Go ${{ env.GO_VERSION }}
      uses: actions/setup-go@v5
      with:
        go-version: ${{ env.GO_VERSION }}

    - name: Build
      id: build
      uses: ./.github/actions/build

    - name: Package
      id: package
      uses:  ./.github/actions/package
      with:
        nfpm_file: "nfpm.yaml.${{ matrix.distro }}"
      env:
        COMMITS: ${{ steps.build.outputs.commits }}

    - name: Upload build artifacts to GitHub
      uses: actions/upload-artifact@v4
      with:
        name: platform-tailscaled-${{ matrix.distro }}-latest
        path: /dist
        if-no-files-found: error
        retention-days: 1
        overwrite: true

    - name: Publish to APT repository
      uses: ./.github/actions/publish
      env:
        DISTRO: "${{ matrix.distro }}"
        PKG_COMPONENT: ${{ steps.package.outputs.pkg_component }}
        PKG_FEED: ${{ steps.package.outputs.pkg_feed }}
        PKG_TOKEN: ${{ secrets.PKG_TOKEN }}

  # TODO: (TBD) Add a job to deploy release package to ukp-staging environment
  # get package version from release job output
